[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.10"
graphene-django = "==2.8.2"
django-cors-headers = ">=3.2"

[requires]
python_version = "3.7"
